@import 'bower_components/bourbon/dist/bourbon';
@import 'bower_components/velcro/styles/colors';

$switch-width: 44px;
$switch-height: 24px;

.former-switch {
  .former-switch-container {
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  input {
    height: $switch-height;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: $switch-width;
    z-index: 0;
  }

  .former-switch-display {
    @include transition(all .5s $ease-out-expo);
    background: $grey;
    border-radius: $switch-height / 2;
    height: $switch-height;
    position: relative;
    width: $switch-width;
    z-index: 1;

    &:before {
      @include transform(translate(1px, 1px));
      @include transition(all 1s $ease-out-expo);
      background: $grey-lightest;
      border-radius: ($switch-height - 2px) / 2;
      content: '';
      display: block;
      height: $switch-height - 2px;
      position: absolute;
      width: $switch-width - 2px;
    }

    &:after {
      @include transform(translate(1px, 1px));
      @include transition(all .5s $ease-out-expo);
      background: #fff;
      border-radius: ($switch-height - 2px) /2;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
      content: '';
      display: block;
      height: $switch-height - 2px;
      position: absolute;
      width: $switch-height - 2px;
    }

    &:active {
      background: $grey;

      &:after {
        width: $switch-height + 2px;
      }
    }
  }

  .former-switch-display:active:before,
  &.former-switch-active .former-switch-display:before {
    @include transform(
      translate(
        ($switch-width - 2px) / 2,
        ($switch-height - 2px) / 2
      )
    );
    height: 0;
    width: 0;
  }

  &.former-switch-active .former-switch-display {
    background: $green;
    border-color: $green;

    &:active:after {
      @include transform(translate($switch-width - $switch-height - 3px, 1px));
    }

    &:after {
      @include transform(translate($switch-width - $switch-height + 1px, 1px));
    }
  }
}
